<h2>Páginas</h2>
<hr>
<h3 class="mt-3">Reactive</h3>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of reactiveMenu" [routerLink]="[item.router]" routerLinkActive="active">
        {{item.title}}
    </li>
</ul>

<h3 class="mt-3">Validaciones</h3>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of authMenu" [routerLink]="[item.router]" routerLinkActive="active">
        {{item.title}}
    </li>
</ul>